{% extends 'flatpages/default.html'%}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content%}
<h1>{{ post.post_title }}</h1>
<br>
<h2>{{post.time_create|date:'d.M.Y'}}</h2>
<p>
    <h3>Вариант без цензора</h3>
    {{post.post_content}}
</p>
<p>
    <h3>Вариант c цензорм</h3>
    {{post.post_content|censor}}
</p>
<br><br>
<p>Тип поста   -  {{post.get_type_post_display}}</p>
<br>
<br>
<br>
{% if post.type_post == 'N'%}
    <a href="/news/news/{{post.pk}}/edit">Редактировать новость</a>
{% else %}
    <a href="/news/articles/{{post.pk}}/edit">Редактировать статью</a>
{% endif %}
<br><br><br>
{% if post.type_post == 'N'%}
    <a href="/news/news/{{post.pk}}/delete">Удалить новость</a>
{% else %}
    <a href="/news/articles/{{post.pk}}/delete">Удалить статью</a>
{% endif %}




{% endblock content%}
