{% extends 'flatpages/default.html'%}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content%}
<h1>{{ post.post_title }}</h1>
<br>
<h2>{{post.time_create|date:'d.M.Y'}}</h2>
<p>
    <h3>Вариант без цензора</h3>
    {{post.post_content}}
</p>
<p>
    <h3>Вариант c цензорм</h3>
    {{post.post_content|censor}}
</p>
<br><br>
<p>Тип поста   -  {{post.get_type_post_display}}</p>
<p>Категории:&nbsp&nbsp
    {% for category in categories %}
       {{category}}
    {% endfor %}
    <br><br>
</p>

{% if post.type_post == 'N'%}
    <a href="/news/news/{{post.pk}}/edit">Редактировать новость</a>
{% else %}
    <a href="/news/articles/{{post.pk}}/edit">Редактировать статью</a>
{% endif %}

{% if  not perms.NewsPortal_app.change_post %}
(недостаточно прав <a href="/accounts/signup_author">Зарегистрироваться как автор?</a>)
{% endif%}

<br>
{% if post.type_post == 'N'%}
    <a href="/news/news/{{post.pk}}/delete">Удалить новость</a>
{% else %}
    <a href="/news/articles/{{post.pk}}/delete">Удалить статью</a>
{% endif %}
{% if  not perms.NewsPortal_app.delete_post %}
(недостаточно прав <a href="/accounts/signup_author">Зарегистрироваться как автор?</a>)
{% endif%}
<br><br>

Текущий пользователь:
{% if not user.username %}
Нет пользователя
{% else %}
{{ user.username }}
{% endif%}

{% endblock content%}
