{% extends 'flatpages/default.html'%}
{% load i18n %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content%}
<h1>{{ post.post_title }}</h1>
<br>
<h2>{{post.time_create|date:'d.M.Y'}}</h2>
<p>
    <h3>{% trans "Without censor" %}</h3>
    {{post.post_content}}
</p>
<p>
    <h3>{% trans "With censor" %}</h3>
    {{post.post_content|censor}}
</p>
<br><br>
<p>{% trans "Post type" %}   -  {{post.get_type_post_display}}</p>
<p>{% trans "Categories" %}:&nbsp&nbsp
    {% for category in categories %}
       {{category}}
    {% endfor %}
    <br><br>
</p>

{% if post.type_post == 'N'%}
    <a href="/news/news/{{post.pk}}/edit">{% trans "Edit news" %}</a>
{% else %}
    <a href="/news/articles/{{post.pk}}/edit">{% trans "Edit article" %}</a>
{% endif %}

{% if  not perms.NewsPortal_app.change_post %}
({% trans "Unsufficient privileges" %} <a href="/accounts/signup_author">{% trans "Register as author" %}?</a>)
{% endif%}

<br>
{% if post.type_post == 'N'%}
    <a href="/news/news/{{post.pk}}/delete">{% trans "Delete news" %}</a>
{% else %}
    <a href="/news/articles/{{post.pk}}/delete">{% trans "Delete article" %}</a>
{% endif %}
{% if  not perms.NewsPortal_app.delete_post %}
({% trans "Unsufficient privileges" %} <a href="/accounts/signup_author">{% trans "Register as author" %}?</a>)
{% endif%}
<br><br>

{% trans "Current user" %}:
{% if not user.username %}
{% trans "No user" %}
{% else %}
{{ user.username }}
{% endif%}

{% endblock content%}
