{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}


{% block content%}
<h2>Количество постов: {{posts|length}}</h2>
<h3>{% current_time '%b %d %Y' %}</h3>
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Тип поста</td>
        <td>Текст</td>
        <td>Рейтинг</td>
    </tr>
    {% for post in posts%}
      <tr>
        <td><a class="nav-link" href={{post.pk}}><u><b>{{post.post_title}}</u></b></a></td>
        <td>{{post.time_create|date:'d M Y'}}</td>
        <td>{{post.get_type_post_display}}</td>
        <td>{{post.post_content|truncatechars:50|censor}}</td>
        <td>{{post.post_rating}}</td>
      </tr>
    {% endfor%}

</table>

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<h3><a href="/news/search">Только новости с возможностью поиска</a></h3>
<br><br>

<a href="news/create">Добавить новость</a>
{% if  not perms.NewsPortal_app.add_post %}
(недостаточно прав <a href="/accounts/signup_author">Зарегистрироваться как автор?</a>)
{% endif%}

<br>
<a href="articles/create">Добавить статью</a>
{% if  not perms.NewsPortal_app.add_post %}
(недостаточно прав <a href="/accounts/signup_author">Зарегистрироваться как автор?</a>)
{% endif%}
<br><br>

Текущий пользователь:
{% if not user.username %}
Нет пользователя
{% else %}
{{ user.username }}
{% endif%}


{% endblock content%}